.classpath
.settings
.settings/
eclipse
.project
/build/
tmp
test-result
precompiled
*target/
.compiled
pom.xml
conf/personal.conf
*.swp
app/job/WTFJob.java
test/job/WTFJobTest.java
server.pid
logs/
/bin
/import
modules
/node_modules/